@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  height: 100%;
}



body * {
	/*cursor: url('Cursors/v2.cur'), auto;*/
}

select::selection {
    color: white;
}

ul {
    white-space: nowrap;
}

.navbar {
    font-size: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px; 
}

.navbar > li {
    width: 12.5%;
    display: inline-block;
}



.text {
    background-color: rgba(0,0,0, 0.8);
    margin-top: -2%;
    padding: 0px 20px 20px 20px;
    border-radius: 50px;
}

p{
    font-family: roboto, arial;
    color: white;
    font-size: 30px;
    display: inline-block;
    margin-right: 20px;
}

pre {
    height:190px;
    width:350px;
    border: 1px solid #ccc;
    overflow:auto;
    font-size: 20px;
    margin:0px 20px;
}

.socialmedia {
    font-size: 24px;
    text-align: right;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: 'roboto', "arial";
    font-weight: bold;
    font-size: 25px;
    padding: 0px 20px;
}

.navbar a:hover{
    background-color: white;
    border-radius: 8px;
    color: black;
    /*cursor: url('Cursors/v2.cur'), auto;*/
}

.layout {
    color: white;
    font-family: roboto, "arial";
    font-size: 30px;
    padding-bottom: 10px;
    background-image: url(https://images3.alphacoders.com/208/208377.jpg);
    background-size: cover;
   
} 

.aboutimg {
    color: white;
    font-family: roboto, "arial";
    font-size: 30px;
    padding-bottom: 10px;
    background-image: url(http://www.desktopwallpaperhd.net/wallpapers/17/d/night-city-background-computer-179261.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

/*.wipbutton{
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color: #ffffff;
	font-family: monospace;
	font-weight: bold;
	font-size:30px;
	padding:20px 47px;
	text-decoration:none;
	border-radius: 40px;
	
}

.wipbutton:hover {
	background-color:#5cbf2a;
}

.wipbutton:active {
    position:relative;
    top: 1px;
}

*/
.Caption{
    font-size: 20px;
}

h1 {
    font-size: 100px;
    margin-bottom: 0px;
    font-family: roboto, "arial";
    text-decoration: underline;
    color: white;
}

h2{
    font-size: 60px;
    margin-bottom: 20px;
    font-family: roboto, "arial";
    border-bottom: 5px solid white;
    color: white;
}

/*
.Piano{
    -webkit-filter: brightness(0%);
    transition-duration: 1s;
    display: inline-block;
    white-space: normal;
    padding: 5px;
}

.Piano:hover {
    -webkit-filter: brightness(100%);
    transition-duration: 1s;
    animation-fill-mode: forwards;
}

.scoutlogo{
    -webkit-filter: brightness(50%);
    transition-duration: 1s;
    display: inline-block;
    white-space: normal;
    padding: 5px;
}

.scoutlogo:hover {
    -webkit-filter: brightness(100%);
    transition-duration: 1s;
    animation-fill-mode: forwards;
}

.csgo{
    -webkit-filter: brightness(20%);
    transition-duration: 1s;
    display: inline-block;
    white-space: normal;
    padding: 5px;
}

.csgo:hover {
    -webkit-filter: brightness(100%);
    transition-duration: 1s;
    animation-fill-mode: forwards;
}

*/
/*
.sm img {
    -webkit-filter: brightness(50%);
    transition-duration: 0.5s;
    cursor: url('Cursors/v2.cur'), auto;
}

.sm img:hover {
    -webkit-filter: brightness(100%);
    transition-duration:0.5s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: url('Cursors/v2.cur'), auto;
}
*/

.hardware {
    background-image: url("../sc/VectorPhone.jpg");
}

.layer {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.buttons {
    text-align: center;
    position: relative;
    top: 50%;
}


.HistoryButton {
	background-color:rgba(0,0,0, 0.5);	
	display:inline-block;
	color:#ffffff;
	font-family: Roboto, "Arial";
	font-size:60px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	outline: white solid 5px;
	margin: 20px;
}

.HistoryButton:hover {
	background-color:white;
	color: black;
}

.howto {
    font-family: roboto, arial;
    font-size: 30px;
    background-image: url("http://cdn.paper4pc.com/images/city-background-wallpaper-1.jpg");
    background-size: cover;
    color: white;
}

.c {
    text-align: center;
    display: inherit;
    font-size: 35px;
}

#calculator {
    background-image: url("http://i.imgur.com/YgFFR.png");
    background-size: cover;
}


input, textarea {
    background-color : black; 
    border: 0px;
    cursor: white;
    color: white;
    font-size: 96px;
    width: 400px;
    outline: white solid;
    margin: 0px 20px 0px 20px;
    
}

.backgroundcolor {
    background-color: rgba(0,0,0, 0.8);
    margin-top: -2%;
    padding: 0px 20px 20px 20px;
    border-radius: 50px;
    text-align: center;
}

select {
    background-color: black;
    color: white;
    font-size: 48px;
    font: roboto;
}

select:selection {
    color: white;
    background: black;
}

.center {
    text-align: center;
}

#Answer {
    font-family: roboto, arial;
    color: white;
        display: inline-block;
    margin-right: 20px;
    font-size: 96px;
}

#calculate {
    background-color: black;
    color: white;
    font-size: 48px;
    font: roboto;
}

#calculate:hover {
    background-color: white;
    color: black;
    outline: black solid 0px;
}
